In [33]:
import pandas as pd

df = pd.read_csv('./mixpanel.csv')
# reduced_df = df.loc[:, df.isnull().mean() < .6]

In [34]:
df.shape

(5998, 97)

In [48]:


cols = ['$created', '$email', '$first_name', '$last_name', 'Abandon Cart Count',
       'Account Created Count', 'Gender', 'Registration Date', '$city', '$region',
 'Last Event', 'Last Purchase', 'Last Search', 'Last Share'
]

selected_df = df[cols]

In [49]:
selected_df.shape

(5998, 14)

In [52]:
selected_df.to_csv('./northwinds_mixpanel.csv', index = False)

In [50]:
selected_df[:2]

,$created,$email,$first_name,$last_name,Abandon Cart Count,Account Created Count,Gender,Registration Date,$city,$region,Last Event,Last Purchase,Last Search,Last Share
0,2020-03-08T13:16:23,Anthony.Bryant@comcastx.com,Anthony,Bryant,4.0,6.0,Male,2020-03-07T22:23:22,NaN,NaN,Abandon Cart,2020-03-31T22:19:47,2020-03-31T22:00:36,2020-03-31T21:57:10
1,2020-03-10T10:58:25,Jessica.Perkins@hotmailx.com,Jessica,Perkins,2.0,6.0,Female,2020-03-13T23:38:28,Eindhoven,North Brabant,Landing Page Loaded,2020-03-19T18:41:03,2020-03-29T20:15:21,2020-03-31T22:31:55

In [53]:
print(pd.io.sql.get_schema(selected_df.reset_index(), 'mixpanel_contacts'))

CREATE TABLE "mixpanel_contacts" (
"index" INTEGER,
  "$created" TEXT,
  "$email" TEXT,
  "$first_name" TEXT,
  "$last_name" TEXT,
  "Abandon Cart Count" REAL,
  "Account Created Count" REAL,
  "Gender" TEXT,
  "Registration Date" TEXT,
  "$city" TEXT,
  "$region" TEXT,
  "Last Event" TEXT,
  "Last Purchase" TEXT,
  "Last Search" TEXT,
  "Last Share" TEXT
)

/var/folders/kx/pltjhhp51mv3hjlcsp0dwlfw0000gn/T/ipykernel_4413/1202955455.py:1: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  print(pd.io.sql.get_schema(selected_df.reset_index(), 'mixpanel_contacts'))