# Introduction to DBT Utils

### Introduction

In this lesson, we'll explore some additional functions we can get by working with DBT Utils.  As we'll see we can use DBT utils to help us write some SQL queries.

### Useful Functions

We can see what DBT utils functions are available to us, simply by going to the [dbt utils repository](https://github.com/dbt-labs/dbt-utils).

Perhaps the most useful function available to us is the function:

```sql 
dbt_utils.star
```

This selects all of the columns from a given relation, just like our normal star function in sql will do.

For example, let's say that we want to select all of the columns from our `rds` `customers` source.  We can do so with the following.

```sql
SELECT {{ dbt_utils.star(source('rds', 'customers')) }} from {{ source('rds', 'customers') }}
```

> Notice that with the star function, we reference the table twice -- once in the star function, and a second time after the FROM clause.

Doing so we'll see all of the columns from a given table, like so.

> <img src="./select-star.png" width="100%">

Now what makes the star function useful is that it takes an except key.  So we can specify to select all columns except for a couple.

```sql
SELECT {{ dbt_utils.star(from = source('rds', 'customers'), except=['company_name']) }} from {{ source('rds', 'customers') }}
```

And from there we can see that the company name is missing.

> <img src="./except-company-name.png" width="100%">

And then we can see what the query compiles to by clicking on the compile tab.

> <img src="./compiled-sql.png" width="60%">

### Exploring Additional Functions

There are a couple of other functions that would be useful to us.  For example, let's take a look at the `get_relations_by_pattern` macro.

As explained by the documentation, the function finds all relations that match a specified pattern.  

Let's give this a shot.  

The `get_relations_by_pattern` function takes two arguments, of the schema pattern, and the table pattern.  So if we want to find the tables that have the word `contacts`, across all schemas we can do so with the following.

```sql
{% set contact_relations = dbt_utils.get_relations_by_pattern('%', 'contacts') %}

```

And as also explained, it works well when combined with the `union_relations` pattern.


```sql
{{ dbt_utils.union_relations(relations = contact_relations) }}
```

And if we only want to include certain columns, we can do so with the include or exclude key.

```sql
{% set contact_relations = dbt_utils.get_relations_by_pattern('%', 'contacts') %}

{{ dbt_utils.union_relations(relations = contact_relations, include = ['FIRST_NAME', 'LAST_NAME']) }}
```

And if we look at the compile tab, we can see what it compiles to.

> <img src="./under-query.png" width="60%">

### Challenge

Use the `get_relations_by_pattern` combined with a `for loop` to union together all of the contact tables, and just select the `first_name` and `last_name` columns from each table. 

> Do not use the `union_relations` method.