### Mixpanel Data

Now let's create a stage for our mixpanel data.

When it's properly loaded, we should be able to perform the following select statement to see our loaded data.

```sql
select 
  c.$1,
  c.$2,
  c.$3,
  c.$4,
  c.$5,
  c.$6,
  c.$7,
  c.$8,
  c.$9,
  c.$10,
  c.$11,
  c.$12,
  c.$13,
  c.$14,
  c.$15,
from @mixpanel_stage as c;
```

Ok, next it's time to create the relevant table.  We did this for you as well.

```sql
CREATE TABLE "FIVETRAN_DATABASE"."MIXPANEL"."CONTACTS" (
  distinct_id varchar(100),
  created varchar(100),
  email varchar(100),
  first_name varchar(100),
  last_name varchar(100),
  abandon_cart_count float,
  account_created_count float,
  Gender varchar(100),
  registration_date varchar(100),
  city varchar(100),
  region varchar(100),
  last_event timestamp,
  last_purchase timestamp,
  last_search timestamp,
  last_share timestamp
);
```

Next *try* to copy over the data into our newly created table.  You should get the following error message.

<img src="./error-load.png" width="100%">

The issue is that the data in the csv file is not in a format that snowflake can recognize.  There are a couple of ways to handle this.  

1. Transform before load 

We could transform the data before we load it into our table.  Look at the following documentation to see how.

<img src="./snowflake-doc.png" width="100%">

2. Transform after load

Or we can transform the data after loading it into our database.  That's what we'll do.  

So to easily load our data into the contacts table, drop the contacts table, and then change the timestamp columns to be of type `varchar(100)`.

```sql
CREATE or replace TABLE "FIVETRAN_DATABASE"."MIXPANEL"."CONTACTS" (
  distinct_id varchar(100),
  created varchar(100),
  email varchar(100),
  first_name varchar(100),
  last_name varchar(100),
  abandon_cart_count float,
  account_created_count float,
  gender varchar(100),
  registration_date varchar(100),
  city varchar(100),
  region varchar(100),
  last_event varchar(100),
  last_purchase varchar(100),
  last_search varchar(100),
  last_share varchar(100)
);
```

Now, let's load in the data again, and this time we should not see any errors.

<img src="./errors-seen.png" width="80%">

And then let's select the first couple of rows from our table to take a look at our data.

<img src="./selected-mix.png" width="80%">

At this point, it's probably a good idea to confirm that we can access the newly created tables from DBT.

> <img src="./load-from-dbt.png" width="80%">