# Notebooks

### Introduction

We saw that we can create our charts from our chart builder.  But we can also create charts through a Python notebook.

### Getting started

Let's get creating a new query by clicking on the plus sign next to the query side bar.  And from there, we can write an aggregate query that counts up the number of companies by city.

<img src="./change-query.png" width="80%">

When we get the correct results, we can then name our query by looking at the sidebard, clicking on the name of our query, and giving it a name -- or a new name if it already has one.

<img src="./rename.png" width="40%">

From there, we can click on the Python notebook tab.

### Selecting our Dataset

Once we are in the notebook, the key variable is the `datasets` variable.  If we run the cell after typing that variable, we can see a list of all of the datasets we have access to.

<img src="./datasets-amounts.png" width="100%">

Currently we have access to the `city_amounts` dataset, which results from our query -- `city_amounts`.  And we can select this dataset, with the code `datasets['city_amounts']`.

We can then assign this to a variable.  

And from there, we can use the plotly library to create a chart, where the `CITY` column is assigned to the x axis and the `AMOUNT` column is assigned to the y axis.

<img src="./assign-result.png" width="100%">

Once we have created the chart, we make sure that cell is selected, and then can then move to the top and click the Add to Report button.

<img src="./add-to-report.png" width="100%">

If we did this correctly, we will see a new icon to the right of the output, that indicates that cell is added to the report.

> <img src="./added-cell.png" width="80%">

Then if we move over to the report, we will see that the output of that cell is included.

> <img src="./report-added.png" width="80%">

### Summary