# Introduction to Jinja

### Introduction

In DBT, we can reduce repetition in our code by working through a Python language like Jinja.  Using Jinja will allow us to take advantage of many of the same features of Python.  

For example, as we'll see, with Jinja, we can make use of if else statements, and loops.  Let's get started.

### Practicing Jinja

We can see our first bit of jinja, whenever we open a new file in DBT.  Let's open a new file in DBT, and replace our code with the following:

```python
{% for i in range(3) %}
  select {{ i }} as number union all 
{% endfor %}
```

Above we are writing a simple loop in Jinja.  We'll break this down in a second -- but for now, let's just look at the results by clicking the `compile` button in DBT.

<img src="./compiled-jinja.png" width="60%">

So we can see that for every number from 0 to 2, it generates the sql:

```sql
select num as number union all
```

Now let's look at our original code.

```python
{% for i in range(3) %}
  select {{ i }} as number union all 
{% endfor %}
```

In jinja, our code is distinguished between statements and expressions.  

* **Expressions** are indicated by the `{{ }}`, and are anything we want to display.  So above, we want to display each number, 0 through 2, inside of the select statement.  

* **Statements** are indicated by the `{% %}` and are used to contain logical code that we do not want to display.  So above, we do not want to render the for loop itself -- but rather, we just want the loop to occur, rendering the content inside.

We will use statements when writing `for` loops, and `if` `else` statements.

One thing to notice with jinja is that there is no concept of whitespace to indicate when a statement completes.  So instead we must explicitly end our statements.

For example, above, we complete our loop with a `endfor` statement.  And if we had an if else statement, we complete it with an `endif` statement.

### Completing our statement

Now let's another look at our current loop.

```sql
{% for i in range(3) %}
  select {{ i }} as number union all 
{% endfor %}
```

And what it compiles to.

<img src="./compiled.png" width="60%">

This it turns out, is almost a valid select statement...but not quite.

The issue is that last union all statement.  We would like to union together each select statement -- but we do not need a union all statement at the very end.  

We can get a union all expression after every select statement but the last one, if we change our Jinja to the following:

```sql
{% for i in range(3) %}
  select {{ i }} as number 
  {% if not loop.last %} union all {% endif %} 
{% endfor %}
```

This does the trick.

<img src="./compiled_last.png" width="80%">

And with this fix, we can click on the `compile` button and see that our sql will compile.

<img src="./results.png" width="50%">

### One last thing

At this point, we have seen most of the fundamentals of Jinja.  There is just perhaps one more component to get started.  

And that is using variables.  We can just a variable with the word `set` like so.

For example, if we want to loop through a list of colors instead of a list of numbers, we can do so by first declaring a variable like so.

```sql
{% set colors = ['red', 'blue', 'purple'] %}

{% for color in colors %}
  select {{ color }} as number 
  {% if not loop.last %} union all {% endif %} 
{% endfor %}
```

If we try to preview the results, we'll see that it doesn't output any sql.

> <img src="./db-error.png" width="70%">

If we look at the compiled SQL, we can perhaps see the issue:

> <img src="./compiled-select.png" width="70%">

We would like to have our colors wrapped in quotes.  Otherwise, sql will think that we're referring to a column name.  Well we can accomplish this in jinja with the following:

> <img src="./quoted-string.png" width="70%">

And then this sql will run.

> <img src="./query-results.png" width="70%">

### Summary

In this lesson, we saw how we can begin to use Jinja.  The key components to understand are that anything code that we would like to render, we wrap in `{{ }}`, and for our logical expressions that we do not need to display, we use `{% %}`.  So a for loop looks like following:

```
{% for i in range(3) %}
{% endfor %}
```

And an if else statment looks like the following:

```
{% if %}
{% else %}
{% endif %}
```

Finally, as we saw above, we also need to explicitly end our logical statements.