In [1]:
import pandas as pd

In [16]:
url = './btob/b_to_b_users.json'
url = './btob/b_to_bevents.json'

url = './ecommerce/mixpanel-users.json'

url = './ecommerce/large-mixpanel.json'

In [22]:
pwd

'/Users/jeffreykatz/Documents/jigsaw/curriculum/mod-b-pipelines/mixpanel'

In [17]:
import json
f = open(url)
data = json.load(f)

In [24]:
events = data['results']['events']

In [33]:
new_events = []
for event in events:
    event_name = event['event']
    new_event = event['properties'].copy()
    new_event['event'] = event_name
    new_events.append(new_event)

In [35]:
df = pd.DataFrame(new_events)

In [41]:
df.to_csv('./mixpanel_events.csv', index = False)

* Still need to load in data from `customers` and `suppliers`, and build an overlab with mixpanel, to then have subset of hubspot, to then have customers.

* Hubspot
    * All customers + some randos
* Mixpanel 
    * All hubspot + some randos

Hubspot sample

<img src="./hubspot-data-example.png" width="100%">

In [47]:
import pandas as pd
customers_df = pd.read_csv('./customers.csv')
customers_df[:2]

,CUSTOMER_ID,COUNTRY,CONTACT_NAME,ADDRESS,CITY,PHONE,COMPANY_NAME,REGION,POSTAL_CODE,FAX,CONTACT_TITLE,_FIVETRAN_DELETED,_FIVETRAN_SYNCED
0,ALFKI,Germany,Maria Anders,Obere Str. 57,Berlin,030-0074321,Alfreds Futterkiste,NaN,12209,030-0076545,Sales Representative,NaN,2021-11-01T16:42:58.964000+00:00
1,ANATR,Mexico,Ana Trujillo,Avda. de la Constitución 2222,México D.F.,(5) 555-4729,Ana Trujillo Emparedados y helados,NaN,05021,(5) 555-3745,Owner,NaN,2021-11-01T16:42:58.964000+00:00

In [67]:
customers_df.columns

columns = ['hubspot_id','CONTACT_NAME', 'PHONE', 'COMPANY_NAME']

In [61]:
customer_df = customers_df[columns]

In [65]:
# customer_df['hubspot_id'] = range(1000, 1091)

In [69]:
customer_df = customer_df[columns]

In [70]:
customer_df[:2]

   hubspot_id  CONTACT_NAME         PHONE                        COMPANY_NAME
0        1000  Maria Anders   030-0074321                 Alfreds Futterkiste
1        1001  Ana Trujillo  (5) 555-4729  Ana Trujillo Emparedados y helados

In [55]:
import pandas as pd
hubspot_df = pd.read_csv('./hubspot_sample.csv')

In [71]:
hubspot_df.columns

columns = ['hubspot_id', 'first_name', 'last_name', 'phone',
       'business_name']

selected_hubspot = hubspot_df[columns]

selected_hubspot[:2]

   hubspot_id first_name   last_name         phone               business_name
0           1   Vincenty       Guppy  686-122-6484                  Maggio Inc
1           2        Caz  Schleicher  395-345-8990  Thompson, Yost and Quigley

In [75]:
selected_hubspot[:2]

   hubspot_id first_name   last_name         phone               business_name
0           1   Vincenty       Guppy  686-122-6484                  Maggio Inc
1           2        Caz  Schleicher  395-345-8990  Thompson, Yost and Quigley

In [82]:
first_name = customer_df['CONTACT_NAME'].str.split(' ').str[0]

In [83]:
last_name = customer_df['CONTACT_NAME'].str.split(' ').str[1]

In [85]:
customer_df[:2]

   hubspot_id  CONTACT_NAME         PHONE                        COMPANY_NAME
0        1000  Maria Anders   030-0074321                 Alfreds Futterkiste
1        1001  Ana Trujillo  (5) 555-4729  Ana Trujillo Emparedados y helados

In [86]:
customer_df.columns = ['hubspot_id', 'CONTACT_NAME', 'phone',
       'COMPANY_NAME']

In [92]:
selected_customer_df = customer_df.assign(first_name = first_name, last_name = last_name).drop(columns = ['CONTACT_NAME'])

In [96]:
selected_customer_df.columns = ['hubspot_id', 'phone', 'business_name', 'first_name', 'last_name']

In [105]:
selected_hubspot_df = hubspot_df.drop(columns = ['email'])

In [100]:
selected_customer_df[:2]

,hubspot_id,phone,business_name,first_name,last_name
0,1000,030-0074321,Alfreds Futterkiste,Maria,Anders
1,1001,(5) 555-4729,Ana Trujillo Emparedados y helados,Ana,Trujillo

In [106]:
selected_hubspot_df[:2]

   hubspot_id first_name   last_name         phone               business_name
0           1   Vincenty       Guppy  686-122-6484                  Maggio Inc
1           2        Caz  Schleicher  395-345-8990  Thompson, Yost and Quigley

In [129]:
# selected_hubspot_df[:400]

In [130]:
combined_hubspot = selected_hubspot_df[:400].append(selected_customer_df)

In [131]:
cols = ['hubspot_id', 'first_name', 'last_name', 'phone', 'business_name']
updated_hubspot = combined_hubspot[cols].sample(frac=1)

In [132]:
updated_hubspot.shape

(491, 5)

In [134]:
updated_hubspot['hubspot_id'] = range(0, 491)

In [135]:
updated_hubspot.to_csv('./combined_hubspot.csv', index = False)

In [3]:
import pandas as pd

In [3]:
import pandas as pd
combined_hubspot_df = pd.read_csv('./pipeline_data/combined_hubspot.csv')

In [4]:

mixpanel_df = pd.read_csv('./mixpanel_events.csv')

In [5]:
mixpanel_df[:2]

,time,distinct_id,$browser,$created,$email,$experiment_id,$first_name,$import,$initial_referrer,$insert_id,...,Cart Size (# of Items),Coupon,Coupon Count Used,Delivery Day,Delivery Method Added Count,Number of Cards Added,Payment Method Added Count,Suggest Item,Page Name,Number of Results
0,1.585695e+09,c1f47ad8-8972-4bfb-800d-6c1a4f0956d8,Internet Explorer,2020-03-01T21:47:04,Anna.Sanders@gmailx.com,112572.0,Anna,True,twitter.com,fdstEduuwEjkFExh,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.585695e+09,adedbfe1-0bb2-4e14-a328-4c6253ad162e,NaN,2020-03-03T06:32:40,Leroy.Byrd@aolx.com,NaN,Leroy,True,NaN,eiBihvBaDszmuhFC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:


# '$first_name', '$last_name'

(5999, 97)

In [6]:
first_name = combined_hubspot_df.first_name

In [7]:
last_name = combined_hubspot_df.last_name

In [8]:
abridged_mixpanel = mixpanel_df[:491]

In [9]:
abridged_mixpanel['$first_name'] = first_name
abridged_mixpanel['$last_name'] = last_name

/var/folders/kx/pltjhhp51mv3hjlcsp0dwlfw0000gn/T/ipykernel_9183/2675832764.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  abridged_mixpanel['$first_name'] = first_name
/var/folders/kx/pltjhhp51mv3hjlcsp0dwlfw0000gn/T/ipykernel_9183/2675832764.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  abridged_mixpanel['$last_name'] = last_name

In [10]:
abridged_mixpanel.shape

(491, 97)

In [11]:
ended_mixpanel = mixpanel_df[492:]

In [12]:
combined_mix = abridged_mixpanel.append(ended_mixpanel).sample(frac=1)

In [13]:
combined_mix[:2]

,time,distinct_id,$browser,$created,$email,$experiment_id,$first_name,$import,$initial_referrer,$insert_id,...,Cart Size (# of Items),Coupon,Coupon Count Used,Delivery Day,Delivery Method Added Count,Number of Cards Added,Payment Method Added Count,Suggest Item,Page Name,Number of Results
1394,1.585695e+09,fa08a4f8-74f9-440c-96a3-ecedb303a4e0,Mobile Safari,2020-03-07T02:27:58,Eric.Lane@hotmailx.com,NaN,Eric,True,google.com,ganscytzltnflcrg,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1080,1.585695e+09,3e8cc8d8-087c-4d28-b221-c000372920eb,NaN,2020-03-07T07:30:13,Beverly.Sims@aolx.com,NaN,Beverly,True,NaN,FmzefdpsnlrufAmB,...,7.0,NaN,NaN,Ground,1.0,NaN,NaN,NaN,NaN,NaN

In [15]:
# pd.read_csv('./pipeline_data/mixpanel.csv')

In [19]:
combined_mix

cols = ['distinct_id', '$created', '$email', '$first_name', '$last_name', 'Abandon Cart Count',
       'Account Created Count', 'Gender', 'Registration Date', '$city', '$region',
 'Last Event', 'Last Purchase', 'Last Search', 'Last Share'
]
selected_mix = combined_mix[cols]

In [20]:
selected_mix.shape

(5998, 15)

In [21]:
selected_mix.to_csv('./northwinds_mixpanel.csv', index = False)